{% extends "base.html" %}

{%block title %}
List of Expense Category
{% endblock title %}

{%block content %}
<table>
    <thead>

        <th>Name</th>
        <th>Number of Receipts</th>

    </thead>
    <tbody>
        {% for item in list_expense_categories%}
        <tr>
            <td> {{item.name}} </td>
            <td> {{item.receipts.count}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
<!--
verilere context teki keylerle erisebilirsin -->
