{% extends "base.html" %}

{%block title %}
List of Accounts
{% endblock title %}

{%block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts </th>
        </tr>
    </thead>
    <tbody>
        {% for item in list_accounts %}
        <tr>
            <td> {{item.name}} </td>
            <td>{{item.number}}</td>
            <td> {{item.receipts.count}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
