{% extends "base.html" %}

{%block title %}
Two-Shot
{% endblock title %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token%}
        {{form.as_p}}
        <button> Signup</button>
    </form>
</div>
{% endblock %}
